/* 로딩 */
.loader {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 100;
}

.lodeMotion {
    position: absolute;
    width: 300px;
    height: 300px;
    background: url('../img/zzan_loding.png') no-repeat;
    background-size: cover;
    animation: loding .7s infinite alternate-reverse steps(6);
}

@keyframes loding {
    100% {
        background-position: -1800px 0;
    }
}


/* 메인 섹션 */
#main {
    background-color: #ff6a92;
    height: 100vh;
    color: #fff;
    font-family: 'MinSans-Medium', 'Poppins';
}

#main .wrap_1200 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#main .text {
    display: flex;
    flex-direction: column;
    width: 45%;
    font-weight: 600;
    font-size: calc(100vh * 25 / 1000);
}

#main .text p:nth-child(1) {
    margin-top: 20px;
    font-size: calc(100vh * 40 / 1000);
    line-height: 45px;
}

#main .text p:nth-child(2) {
    font-size: calc(100vh * 150 / 1000);
    font-weight: 800;
    font-family: 'Poppins';
    line-height: 150px;
}

#main .text p:nth-child(3) {
    margin-top: 150px;
    font-weight: 100;
}

#main .text img {
    width: 120px;
}

#main #main_img {
    width: 50%;
    position: relative;
    top: 0;
    animation: mainImg 1.5s infinite alternate ease-in-out;
}


@keyframes mainImg {
    0% {
        top: 30px;
    }

    100% {
        top: 0px;
    }
}




/* ZZAN! */

#_text {
    background-color: #ff6a92;
}

#zzan_box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffcf57;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(0px at center center);
}

#zzan_box.active {
    opacity: 0;
    z-index: -5;
}


.inner_text {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    z-index: 1;
    font-size: 15vw;
    color: #fff;
    text-align: center;
    width: 100%;
    font-family: 'Poppins';
    font-weight: 800;
}

.zzan_text {
    position: fixed;
    top: 50%;
    left: 9000px;
    transform: translateY(-50%);
    white-space: nowrap;
    z-index: 1;
    font-size: 15vw;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
    text-align: center;
    width: 100%;
    font-family: 'Poppins';
    font-weight: 800;
}




/* overview */

#overview {
    font-family: 'MinSans-Medium', 'Poppins';
    height: 200vh;
}

#overview .wrap_1200 {
    padding-top: 100vh;
    width: 1000px;
}

#overview .wrap_1200 .q_a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: (100vh * 100 / 1000) 0;
}

#q_img1,
#q_img2 {
    transform: scale(0);
}

#q_img1.active {
    animation: fadeIn .75s ease-in forwards;
}

#q_img2.active {
    animation: fadeIn .75s ease-in forwards;
}


#question1,
#question2 {
    transform: scale(0);
    transform-origin: left bottom;
}

#question1.active {
    animation: speechBubble .5s ease-in-out forwards;
    animation-delay: .5s;
}

#question2.active {
    animation: speechBubble .5s ease-in-out forwards;
    animation-delay: .5s;
}


#answer1,
#answer2 {
    transform: scale(0);
    transform-origin: right bottom;
}

#answer1.active {
    animation: speechBubble .5s ease-in-out forwards;
    animation-delay: 1s;
}

#answer2.active {
    animation: speechBubble .5s ease-in-out forwards;
    animation-delay: 1s;
}


@keyframes speechBubble {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    25% {
        opacity: 1;
    }

    70% {
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }

}



#overview .wrap_1200 .q_a .question {
    display: flex;
    align-items: center;
}

#overview .wrap_1200 .q_a .question img {
    margin: 0 20px;
}

#overview .wrap_1200 .q_a .question p {
    font-size: calc(100vh * 25 / 1000);
    width: fit-content;
    display: inline;
    padding: 1.2em;
    background-color: #fff;
    border-radius: 40px 40px 40px 0;
}


#overview .wrap_1200 .q_a .answer {
    width: fit-content;
    white-space: pre-line;
    padding: 2em;
    font-size: calc(100vh * 20 / 1000);
    background-color: #fff;
    border-radius: 40px 40px 0 40px;
    align-self: flex-end;
}

#overview .wrap_1200 .q_a .answer span {
    color: #FF779B;
}





/* design */
#design {
    height: auto;
    font-family: 'MinSans-Medium', 'Poppins';
}



/* keyword */
#design_keyword {
    background-color: #FFD976
}

.key1 div,
.key2 div,
.key3 div,
.box-open-button {
    border-radius: 100%;
    width: 250px;
    height: 250px;
    padding-top: 105px;
    position: absolute;
    box-shadow: #ffffff 0 0 1px 5px;
    top: 20px;
    line-height: 30px;
    text-align: center;
    font-size: 30px;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
}

.key1 div,
.key2 div,
.key3 div {
    background: #FF3E7A;
    color: #ffffff;
    box-shadow: #fff 0 0 0 0;
    transform: scale(0.8)
}

#keywordesign_box_wrap {
    width: 920px;
    text-align: center;
    margin: 0 auto;
}

.box-open1,
.box-open2,
.box-open3 {
    display: none;
}

.keywordesign_box {
    position: relative;
    margin: 0 25px 0 25px;
    width: 250px;
    height: 250px;
    display: inline-block;
    box-sizing: border-box;
    font-size: 20px;
    text-align: left;
}

.box-open-button {
    background: #fff;
    color: #000;
    z-index: 3;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    cursor: pointer;
    animation: keywordMotion 2s linear infinite;
}

.box-open-button p {
    font-size: 16px;
    color: #8f8f8f;
}

.box-open-button:hover {
    transform: scale(0.7, 0.7) translate3d(0, 0, 0);
    box-shadow: #fff 0 0 0 0;
    background-color: #ffffffbb;
    border: 2px solid #fff;
    animation: none;
}


/* key1 */
.box-open1:hover~.key1 div {
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    font-size: 40px;
}

.box-open1:hover~.key1 div:nth-child(1) {
    transition-duration: 180ms;
    transform: translate3d(-120px, -120px, 0) scale(0.5, 0.5);
    padding-top: 110px;
}

.box-open1:hover~.key1 div:nth-child(2) {
    transition-duration: 280ms;
    transform: translate3d(120px, -120px, 0) scale(0.5, 0.5);
    padding-top: 110px;
}

.box-open1:hover~.key1 div:nth-child(3) {
    transition-duration: 380ms;
    transform: translate3d(120px, 120px, 0) scale(0.5, 0.5);
    padding-top: 110px;
}

.box-open1:hover~.key1 div:nth-child(4) {
    transition-duration: 480ms;
    transform: translate3d(-120px, 120px, 0) scale(0.5, 0.5);
    padding-top: 110px;
}

/* key2 */
.box-open2:hover~.key2 div,
.box-open2:hover~.key2 div,
.box-open3:hover~.key2 div {
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    font-size: 40px;
}

.box-open2:hover~.key2 div:nth-child(1) {
    transition-duration: 180ms;
    transform: translate3d(-120px, -120px, 0) scale(0.5, 0.5);
    padding-top: 110px;
}

.box-open2:hover~.key2 div:nth-child(2) {
    transition-duration: 280ms;
    transform: translate3d(120px, -120px, 0) scale(0.5, 0.5);
    padding-top: 110px;
}

.box-open2:hover~.key2 div:nth-child(3) {
    transition-duration: 380ms;
    transform: translate3d(120px, 120px, 0) scale(0.5, 0.5);
    padding-top: 110px;
}

.box-open2:hover~.key2 div:nth-child(4) {
    transition-duration: 480ms;
    transform: translate3d(-120px, 120px, 0) scale(0.5, 0.5);
    padding-top: 110px;
}

/* key3 */
.box-open3:hover~.key3 div,
.box-open2:hover~.key3 div,
.box-open3:hover~.key3 div {
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    font-size: 40px;
}

.box-open3:hover~.key3 div:nth-child(1) {
    transition-duration: 180ms;
    transform: translate3d(-120px, -120px, 0) scale(0.5, 0.5);
    padding-top: 110px;
}

.box-open3:hover~.key3 div:nth-child(2) {
    transition-duration: 280ms;
    transform: translate3d(120px, -120px, 0) scale(0.5, 0.5);
    padding-top: 110px;
}

.box-open3:hover~.key3 div:nth-child(3) {
    transition-duration: 380ms;
    transform: translate3d(120px, 120px, 0) scale(0.5, 0.5);
    padding-top: 110px;
}

.box-open3:hover~.key3 div:nth-child(4) {
    transition-duration: 480ms;
    transform: translate3d(-120px, 120px, 0) scale(0.5, 0.5);
    padding-top: 110px;
}

@keyframes keywordMotion {
    0% {
        transform: scale(1, 1);
    }

    10% {
        transform: scale(1.05, 0.95);
    }

    20% {
        transform: scale(0.95, 1.05);
    }

    30% {
        transform: scale(1.05, 0.85);
    }

    40% {
        transform: scale(0.95, 1.05);
    }

    50% {
        transform: scale(1.05, 0.95);
    }

    60% {
        transform: scale(1, 1);
    }
}





/* color */
#design_color {
    background-color: #fff;
}

#design_color .wrap_1200 .design_content {
    display: flex;
    flex-direction: column;
}

#color_wrap1 {
    margin-bottom: 20px;
    color: #fff;
    line-height: 160px;
    text-align: center;
}

#color_wrap2 p {
    color: #fff;
    line-height: 30px;
    text-align: center;
}

#color_wrap2 p:nth-child(1) {
    margin-top: 50px;
}

.color_o div {
    display: inline-block;
    width: 160px;
    height: 160px;
    margin-left: -20px;
    border-radius: 50%;
    backdrop-filter: blur(3px);
    transform: scale(1, 1) translateY(0%);
    cursor: pointer;
    animation: colorMotion 1s;
}

@keyframes colorMotion {}

.color_o div:hover {
    animation: jump .7s cubic-bezier(1, -0.57, 1, 1);
    /* animation-play-state: paused; */
}

@keyframes jump {
    0% {
        transform: scale(1.2, .9) translateY(10%);
    }

    50% {
        transform: scale(.9, 1.1) translateY(-30%);
    }

    100% {
        transform: scale(1.2, .9) translateY(10%);
    }

}


#color1 {
    margin-left: 0;
    background-color: #DADADAce;
}

#color2 {
    background-color: #ffd876ce;
}

#color3 {
    background-color: #FF988Dce;
}

#color4 {
    background-color: #FF779Bce;
}

#color5 {
    background-color: #FF3E7Ace;
}

#color6 {
    margin-left: 0;
    background: linear-gradient(#FF8AA9ce, #FFD976ce);
}

#color7 {
    background: linear-gradient(#C1E41Cce, #FFE76Bce);
}

#color8 {
    background: linear-gradient(#6CC8FFce, #72F4FCce);
}





/* typography */

#design_typography {
    background-color: #FF779B;
    color: #fff;
}

#design_typography .design_text p {
    color: #fff;
}

#design_typography .design_content {
    display: flex;
    justify-content: space-around;
}

#design_typography .design_content table {
    border-collapse: collapse;
    position: relative;
    font-size: calc(100vh * 30 / 1000);
}

#design_typography img {
    position: relative;
    left: -30px;
}


table#typo1 th {
    padding: 10px 50px 10px 0;
}

table#typo1 tr,
table#typo1 td {
    padding: 5px 50px 5px 0;
    text-align: left;
}

table#typo2 tr,
table#typo2 td {
    padding: 5px 50px 5px 0;
    text-align: left;
}

th {
    font-size: calc(100vh * 40 / 1000);
    font-weight: 800;
    padding: 20px 0;
}

#typo1 {
    font-family: 'Noto Sans KR' !important;
    opacity: 0;
    transition: 2s;
    position: absolute;
    left: -200px;
}

#typo2 {
    font-family: 'NanumSquare' !important;
    opacity: 0;
    transition: 1s;
    position: absolute;
    left: -200px;
}

#typo1.active {
    opacity: 1;
    left: 0;
}

#typo2.active {
    opacity: 1;
    left: 0;
}

#typo1 th {
    height: 110px;
}

#typo1_B {
    font-weight: 900;
}

#typo1_R {
    font-weight: 100;
}

#typo2_B {
    font-weight: 800;
}

#typo2_R {
    font-weight: 500;
}

#typo2_L {
    font-weight: 100;
}

#gap1 {
    height: 64px;
}

#gap2 {
    height: 30px;
}

.typo_ex {
    color: #ffffffab;
    font-size: calc(100vh * 25 / 1000);
    line-height: calc(100vh * 35 / 1000);
}







/* logo */
#design_logo {
    background-color: #FFD976;
}

#logo_warp {
    margin: 0 auto;
    width: 870px;
}

.logo_warp img {
    margin: 0 40px;
    opacity: 0;
    transform: scale(0);
    width: calc(100vh * 400 / 1000);
    ;
}

#logo_img1.active {
    animation: fadeIn .5s ease-in forwards;
}

#logo_img2.active {
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    25% {
        opacity: 1;
    }

    70% {
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }

}


/* icon */
#design_icon {
    background-color: #fff;
}

#design_icon #icon_btn_pink {
    position: absolute;
    top: -150px;
    right: 0px;
    border: 0;
    border-radius: 15px;
    background: #b5b5b5;
    width: 100px;
    height: 50px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

#design_icon #icon_btn_pink:hover {
    background: #ff8eac
}

#design_icon #icon_btn_gray {
    position: absolute;
    top: -150px;
    right: 110px;
    border: 0;
    border-radius: 15px;
    background: #b5b5b5;
    width: 100px;
    height: 50px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

#design_icon #icon_btn_gray:hover {
    background: #ff8eac
}

table#icon_box1,
table#icon_box2 {
    margin: 0 auto;
}

table#icon_box1 tr,
table#icon_box1 td {
    padding: 3px 20px;
    text-align: center;
}

table#icon_box2 tr,
table#icon_box2 td {
    padding: 3px 20px;
    text-align: center;
}

table#icon_box2 {
    margin-top: 40px;
}

#icon_box1 img {
    width: calc(100vh * 100 / 1000);
}

#icon_box2 img {
    width: calc(100vh * 148 / 1000);
}

.icon_active {
    transition: .5s;
    transform: scale(1.2);
}



/* 서비스 섹션 */
#service {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    overflow: hidden;
    color: #fff;
    font-family: 'MinSans-Medium', 'Poppins';
    background-color: #FF779B;
}

#service .wrap_1200 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

.white_box {
    height: 80vh;
    background-color: #fff;
    border-radius: 3vw;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#service .app {
    width: 250px;
    height: fit-content;
    border: 8px solid #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px #c99999;
}

#service .service_box {
    width: 1000px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#service h3 {
    width: fit-content;
    margin: 15px;
    padding: 25px 50px;
    background-color: #FF3E7A;
    border-radius: 40px 40px 40px 0;
    font-size: 18px;
    text-align: center;
}

#service h3 p:nth-child(1) {
    color: #fff;
    font-size: 30px;
}

.service_text {
    position: relative;
    width: fit-content;
    margin: 15px;
    padding: 25px 40px;
    color: #000000;
    background-color: #FFD976;
    border-radius: 40px 40px 40px 0;
    font-size: 18px;
    text-align: left;
    white-space: pre-line;
}

.service_text img {
    position: absolute;
    top: -50%;
    left: 90%;
    width: 80px;
    border-radius: 50%;
    box-shadow: 0 0 10px #bbb;
    z-index: 1;
}





/* 비디오 섹션 */
#video {
    text-align: center;
    background-color: #ffffff;
    font-family: 'MinSans-Medium', 'Poppins';
    height: auto;
}

#video .wrap_1200 {
    padding-top: 100px;
}

iframe {
    margin-top: 50px;
    width: 1200px;
    height: 675px;
}



/* 목업 */
#mockup {
    position: relative;
    height: 800px;
    background-color: #f6f6f6;
}

#mockup .wrap_1200 {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 0;
}

#mockup #mock_img {
    height: 100%;
}

#mockup #btn {
    width: 200px;
    margin-bottom: 50px;
}

#mockup #btn img {
    margin-bottom: 10px;
}

#mockup #btn img:hover {
    transform: scale(1.02);
}


/* 팀 섹션 */
#team {
    position: relative;
    text-align: center;
    background-color: #FFD976;
    font-family: 'MinSans-Medium', 'Poppins';
}

#team h3 {
    margin-top: 10px;
}

#team h4 {
    font-size: 23px;
    margin-top: 5px;
}

#team h5 {
    font-size: 15px;
    margin-top: 5px;
}

#team p {
    font-size: 15px;
    margin: 13px;
}

#team a {
    font-size: 12px;
    color: #000;
}

#team a:hover {
    color: #ff346ae4;
}

#team_wrap {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.team_box {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.team_box img {
    width: calc(100vh * 200 / 1000);
}



/* 푸터 */
footer {
    width: 100%;
    background-color: #FF779B;
    color: #fff;
    font-size: 12px;
    font-family: 'MinSans-Medium', 'Poppins';
}

footer .wrap_1200 {
    padding: 20px 0;
}

footer ul:nth-child(1) {
    width: 100%;
}

footer li:nth-child(4) {
    text-align: right;
}